doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='initial-scale=1, minimum-scale=1, width=device-width')
        meta(property='og:type', content='website')
        if OG_TITLE
            meta(property='og:title', content=OG_TITLE)
        if OG_DESCRIPTION
            meta(property='og:description', content=OG_DESCRIPTION)
        if OG_IMAGE
            meta(property='og:image', content=OG_IMAGE)
        title #{TITLE}
        link(rel='stylesheet' href='/www.min.css')
        //- link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel='stylesheet')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
        block head
    body
        if DEVELOPMENT
            div(id='app')
        else
            div(id='app') !{CONTENT}
        script(src='/bundle.js')
        block script
